.service-btn-box{
    background: url("../../../../../public/assests/icon/Untitled\ \(2\).png") no-repeat top center;
    background-size: 100% 100%;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
    border-radius: 3.375rem;

}